.black-ops-one-regular {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}


body{
    background-color: #1F1442;
    color: #CCCCCC;
    font-size: 2rem;
    
}
h1{
    color: #A69E99;
    font-family: "Black Ops One", system-ui;
    text-decoration: double;
    text-align: center;
    text-shadow: 0 0 10px hsl(64, 100%, 50%), 0 0 20px #00ff00;
}
a{
    color: rgb(28, 10, 94);
}

a:hover{
    color: red;
}

img{
    width: 40%;
  }

 .container{
  justify-content: space-between;
  display: flex;
 }

.container div {
  background-color: #e6edc9fb;
  color:#2A3042;
  display: flex;
  justify-content: space-between;
  border-radius: 40px;
  border: #c96121 solid 5px;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
 
}